<div class="signerin">
  <h2 class="form-signin-heading">Edit <%= resource_name.to_s.humanize %></h2>
  <%= form_for(resource, :as => resource_name, class: "form-signin", :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.email_field :email, :autofocus => true, class: "form-control", "placeholder" => "Update email address" %></div><br />

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div><%= f.text_field :name, class: "form-control", "placeholder" => "Name" %></div><br />

    <div><%= f.text_field :phone, class: "form-control", "placeholder" => "Phone" %><small>(Only used for weekly meeting reminders)</small></div><br />

    <div><%= f.text_field :age, class: "form-control", "placeholder" => "Age" %></div><br />

    <div><small>(leave blank if you don't want to change it)</small>
    <%= f.password_field :password, :autocomplete => "off", class: "form-control", "placeholder" => "Update password" %></div><br />

    <div>
    <%= f.password_field :password_confirmation, class: "form-control", "placeholder" => "Update password confirmation"  %></div>

    <div><small>(we need your current password to confirm your changes)</small>
    <%= f.password_field :current_password, class: "form-control", "placeholder" => "Current password"  %></div><br />

    <div><%= f.submit "Update", class: "btn btn-primary"  %></div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

  <%= link_to "Back", :back %>
