<% if current_family_member.accepted == true && @family.id == current_family_member.family_id %>
  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">My Family:</h3>
      </div>
      <div class="panel-body">
        <strong>Name:</strong> <%= @family.name %><br />
        <strong>Mission Statement:</strong> <%= @family.mission_statement %><br />
        <strong>Meeting Day:</strong> <%= @family.meeting_day %><br />
        <strong>Meeting Time:</strong> <%= @family.meeting_time.strftime("%I:%M %p") %><br />
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Invite Your Family</h3>
      </div>
      <div class="panel-body">
        <div class="text-center">Ask your family members to visit AgileFamily and enter your family id</div>
        <h2 class="text-center"><%= @family.id %> </h2>
        <input type="hidden" id="family_id" value="<%= @family.id %>" >
      </div>
    </div>
  </div>
  <div id="family-member-list" class="col-md-10">
    <h4>Family Members</h4>
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Age</th>
        <th>Authorization</th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
<% else %>
  <h3> Your request to join this family has been received or you have been rejected by this family. Please check with your family members for more information. </h3>
<% end %>