<div class="panel panel-success col-md-8">
  <div class="panel-heading">
    <h3 class="panel-title">My Family:</h3>
  </div>
  Name: <%= @family.name %><br />
  Mission Statement: <%= @family.mission_statement %><br />
  Meeting Day: <%= @family.meeting_day %><br />
  Meeting Time: <%= @family.meeting_time %><br />
</div>
<div class="panel panel-success col-md-4">
  <div class="panel-heading">
    <h3 class="panel-title">Invite Your Family</h3>
  </div>
  <div class="panel-body">
    <div class="text-center">Ask your family members to visit AgileFamily and enter your family id</div>
    <h2 class="text-center"><%= @family.id %> </h2>
    <input type="hidden" id="family_id" value="<%= @family.id %>" >
  </div>
</div>

<div id="family-member-list" class="col-md-10">
  <h4>Family Members</h4>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Age</th>
      <th>Authorization</th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>